@import '../../common/main.scss';

.cell {
  width: 80px;
  height: 80px;
  padding: 0;
  text-align: center;
  line-height: 80px;
  font-size: 44px;
  font-weight: 600;
  color: $accentColor;
  background: $secondaryBgColor;
  border: none;
  cursor: pointer;

  @media screen and (min-width: $minTabletWidth) and (max-width: $maxTabletWidth) {
    width: 70px;
    height: 70px;
    line-height: 70px;
  }
}

.cell:focus {
  outline: none;
}

.highlight {
  background-color: $primaryBgColor;
  color: $primaryTextColor;
}

.mark {
  display: block;
}

.mark-enter {
  opacity: 0;
  transform: scale(0.5);
}

.mark-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: all 0.3s;
}
