@import '../../common/main.scss';

.container {
  min-width: $minMobileWidth;
  min-height: 100vh;
  padding: 10px;
  background-color: $primaryBgColor;

  @media screen and (min-width: $minTabletWidth) {
    padding: 25px;
  }

  @media screen and (min-width: $desktopWidth) {
    padding: 25px 100px;
  }
}
